@import "./shared";

.center {
  margin: 0 auto;
  max-width: 500px;
  width: 90vw;
}

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-between {
  justify-content: space-between;
}
